<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/app.css" rel="stylesheet" type="text/css">

    <title>Welcome Player</title>
</head>
<body>
    <h1>Welcome Pokemon Player</h1>
    <br>

    <!-- log In  -->
    <h2>Existing Players:</h2>
    <h3> <a href='/player/login'>Log In</a></h3>
    
    <br>
    <h2>New to Pokemon?</h2>
    <p> Please sign up for a new log in account: <a href='/player/signup'>Sign Up</a> </p>
    <!-- Sign up for new players -->
    
    
</body>
</html>