<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Log In Page</title>
</head>
<body>
    <h1>Player Log In</h1>

    <form action="/player/login?_method=POST" method="POST">
        <!-- {/*  NOTE: the form is pre-populated with values for the server */} -->
        username: <input type="text" name="username" value=""/>
        password: <input type="text" name="password" value=""/>
                
        <input type="submit" name="" value="Log In"/>
    </form>
    
</body>
</html>