<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/app.css" rel="stylesheet" type="text/css">

    <title>Journal Journey</title>
</head>
<body>
    <h1><%=req.user.username%> Favorite Journals</h1>
    <br>

    <h2>Journals:</h2>
    <p>Click on a title to continue enjoying your Journal Journey</p>
    <ul id=#journalList>
        <% for (let i = 0; i < favoritejournals.length; i++ ) { %>
            <li>
                <!-- SHOW link here  -->
                <a href="/journal/<%=favoritejournals[i].journalId%>"><%=journal[i].title%></a><br>
            </li>
        <% } %>
    </ul>
    
    <!-- Return to users profile  -->
    <h3> <a href='/users/profile/<%=req.user.id>'>Return to your Profile Page</a></h3>
</body>
</html>