<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css" />
    <title>New Journal</title>
</head>
<body>
    <h1>Journal Creation</h1>
    <!-- NOTE: Action will be the route, method will be the HTTP verb -->
    <form action="/journal/" method="POST">
        <p id=#titleTag>Title:<input type="text" name="title" /></p>
        <p id=#bodyTag>Body:</p>
        <textarea id=#journalBody name="body" rows="40" cols="100" >Write journal entry here...</textarea><br>
        <p id=#bodyTag>Image URL:<input type="text" name="imageURL" /></p>
        <p id=#publishTag></p>Publish Journal Entry:<input type="checkbox" name="publish"/></p>
        <br>
        <input type="submit" name="" value="Add Journal"/><br>
    </form>

    <!-- Return to users profile  -->
    <h3> <a href='/users/profile/<%=userId%>'>Return to your Profile Page</a></h3>
</body>
</html>