<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Author Sign Up</title>
</head>
<body>
    <h1>Become a New Author</h1>
    <!-- NOTE: Action will be the route, method will be the HTTP verb -->
    <form action="/author/user/<%=userId%>" method="POST">
        name: <input type="text" name="name" /><br/>
        <textarea id="bio" name="bio" rows="7" cols="50" >add bio details here...</textarea>
        <br>
        <textarea id="valediction"  name="valediction" rows="2" cols="50" >add valediction here...</textarea>
        <br>
        imageURL:<input type="text" name="imageURL" />
        <br>
        <input type="submit" name="" value="Add Author"/><br>
    </form>

    <!-- Return to users profile  -->
    <p>Not sure you wnat to be an author... click link below to:</p>
    <h3> <a href='/users/profile/<%=userId%>'>Return to your Profile Page</a></h3>
</body>
</html>