<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author Sign Up Page</title>
</head>
<body>
    <h1>Player Sign Up</h1>
    <form action="/author" method="POST">
        Name: <input type="text" name="name" value="" /><br>
        Bio: 
        <textarea id="bio" name="bio" rows="5" cols="40">
            Enter bio here...
        </textarea>
        Valediction: <input type="text" name="valediction" value="" /><br>
        Image URL: <input type="text" name="imageURL" value="" /><br>
    
        <input type="submit" name="" value="Sign Up" />
    </form>
</body>
</html>